<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration SYSTEM
        "classpath://org/hibernate/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">host</property> <!--example: jdbc:postgresql://localhost:5432/localGisfo-->
        <property name="hibernate.connection.username">username</property>
        <property name="hibernate.connection.password">your_password</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.default_schema">newfont_dati</property> <!-- schema name -->
        <!--        <property name="show_sql">true</property>-->
<!--        <mapping resource="com/journaldev/model/Node.hbm.xml"/>-->
<!--        <mapping resource="com/journaldev/model/Project.hbm.xml"/>-->
                <mapping class="com.journaldev.model.Project"/>
                <mapping class="com.journaldev.model.Node"/>
    </session-factory>
</hibernate-configuration>